
body{
    background-color:  #334d47;
    color: white; /*#CBB275 */
    text-align: center;
}

.cursor {
    outline-style: dashed;
    outline-color: aqua;
    outline-width: 1px;
}

.done{
    color: lawngreen;
}

.hidden{
    display: none;
}

#typing {
    margin: auto;
    width: 350px;
}

#stats {
    margin: auto;
    width: 350px;
}